<nz-card nzTitle="用户列表" [nzExtra]="extraTemplate">
    <div class="search">
        <div class="query">
            <b>查询条件</b>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="6">
                <label>姓名：</label>
                <input type="text" nz-input [(ngModel)]="name">
            </div>
            <div nz-col [nzSpan]="6">
                <label>会员编号：</label>
                <input type="text" nz-input [(ngModel)]="snum">
            </div>
            <div nz-col [nzSpan]="6">
                <label>手机号：</label>
                <input type="text" nz-input [(ngModel)]="phone">
            </div>
            <div nz-col [nzSpan]="6">
                <label style="width: 148px">鲜花范围（朵）：</label>
                <nz-input-number [nzFormatter]="formatterPercent" [(ngModel)]="start_flowers" [nzStep]="1">
                </nz-input-number><span style="display: inline-block;line-height: 32px;padding: 0 6px">至</span>
                <nz-input-number [nzFormatter]="formatterPercent" [nzStep]="1" [(ngModel)]="end_flowers">
                </nz-input-number>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="6">
                <label>状态：</label>
                <nz-select [(ngModel)]="_status" nzAllowClear>
                    <nz-option nzLabel="未激活" [nzValue]="-1"></nz-option>
                    <nz-option nzLabel="已激活" [nzValue]="0"></nz-option>
                    <nz-option nzLabel="VIP" [nzValue]="1"></nz-option>
                    <nz-option nzLabel="已禁用" [nzValue]="2"></nz-option>
                </nz-select>
            </div>
            <div nz-col [nzSpan]="6">
                <label>用户是否失效：</label>
                <nz-select [(ngModel)]="is_lost" style="margin-left: 32px;" nzAllowClear>
                    <nz-option nzLabel="失效用户" [nzValue]="1"></nz-option>
                    <nz-option nzLabel="有效用户" [nzValue]="0"></nz-option>
                </nz-select>
            </div>
            <div nz-col [nzSpan]="12">
                <label style="width: 120px">注册起止日期：</label>
                <nz-range-picker [(ngModel)]="datetime" style="min-width: 260px"></nz-range-picker>

            </div>
        </div>
        <div nz-row>
            <div nz-col style="justify-content: flex-end">
                <button [nzLoading]="btnLoading" nz-button nzType="primary" class="ant-left-xxl"
                    (click)="download_data()">
                    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>下载Excel
                </button>
                <button nz-button nzType="primary" class="ant-left-xxl" (click)="search_data(true)">
                    <i nz-icon nzType="search" nzTheme="outline"></i>搜索
                </button>
                <button nz-button class="ant-left-large ant-right-xxl" (click)="clear_data()">
                    <i nz-icon nzType="reload" nzTheme="outline"></i>清空
                </button>
            </div>
        </div>
    </div>
    <nz-table #table [nzData]="data" [(nzPageSize)]="pagesize" [(nzPageIndex)]="page" [nzFrontPagination]="false"
        [nzTotal]="total" [nzShowTotal]="totalTemplate" [nzLoading]="loading" (nzPageIndexChange)="search_data()"
        (nzPageSizeChange)="search_data(true)">
        <thead>
            <tr>
                <th>会员编号</th>
                <th>推荐人编号</th>
                <th>身份证号</th>
                <th>姓名</th>
                <th>电话</th>
                <th>地址</th>
                <th>用户类型</th>
                <th>余额（元）</th>
                <th>鲜花数（朵）</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of table.data" [ngClass]="{marked: data.flowers<3000}">
                <td>{{data.id}}</td>
                <td>{{data.parent_snum}}</td>
                <td>{{ data.id_card }}</td>
                <td>{{ data.name }}</td>
                <td>{{data.phone}}</td>
                <td>{{ data.address }}</td>
                <td>{{ Types[data.type] }}</td>
                <td>{{(data.balance/100).toFixed(2)}}</td>
                <td>{{data.flowers/100 | number:'1.2-2'}}</td>
                <td>{{ data.created_at| date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ data.invalid ? "已删除" : status[data["status"]] }}</td>
                <td>
                    <button class="ant-right" *ngIf="fn['add_user']" nz-button (click)="show_modal(data)">编辑用户</button>
                    <button class="ant-right" *ngIf="fn['activate_member']&&data.status===2" nz-button nz-popconfirm
                        nzTitle="你确定要激活这个用户吗？" (nzOnConfirm)="activate_member(data.id)" (nzOnCancel)="cancel()"
                        nzPlacement="top">激活</button>
                    <button class="ant-right" *ngIf="fn['delete_user']" nz-button nzType="danger" nz-popconfirm
                        nzTitle="你确定要删除这个用户吗？" (nzOnConfirm)="delete_user(data.id)" (nzOnCancel)="cancel()"
                        nzPlacement="top">删除</button>
                    <button class="ant-right" *ngIf="fn['reset_password']" nz-button
                        (click)="reset_password(data.id)">重置密码</button>
                    <button class="ant-right" *ngIf="fn['change_user_status']&&data.status===2" nz-button
                        (click)="change_status(data.id, 0)">恢复</button>
                    <button class="ant-right" *ngIf="fn['change_user_status']&&data.status===0" nz-button
                        (click)="change_status(data.id, 2)">禁用</button>
                    <button class="ant-right" *ngIf="fn['change_balance']" nz-button
                        (click)="show_balance_gold(data.id, 1, data.balance)">修改余额</button>
                    <button class="ant-right" *ngIf="fn['change_flowers']" nz-button
                        (click)="show_balance_gold(data.id, 2, data.flowers)">修改鲜花数</button>
                    <button class="ant-right" *ngIf="fn['change_parent_snum']" nz-button
                        (click)="show_balance_gold(data.id, 3, data.parent_snum)">修改推荐人编号</button>
                    <button class="ant-right" *ngIf="fn['user_parent_list']" nz-button
                        (click)="user_parent_list(data.id)">查看父级</button>
                    <button class="ant-right" *ngIf='fn["user_child_list"]' nz-button
                        (click)="user_child_list(data.id)">查看子级</button>
                    <button *ngIf="data.is_lost===1" nz-button (click)="recover_user(data.id)">恢复用户</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<ng-template #totalTemplate> 总计 {{ total }} 条 当前页数：<nz-input-number class="ant-right" [(ngModel)]="page"
        (ngModelChange)="search_data()" [nzMin]="1" [nzStep]="1" [(nzMax)]="max">
    </nz-input-number>
</ng-template>
 
<ng-template #extraTemplate>
    <button *ngIf="fn['add_user']" nz-button (click)="show_modal()" nzType="primary">
        <span>添加用户</span>
    </button>
</ng-template>
<nz-modal [(nzVisible)]="visible" [nzTitle]="type===1?'修改余额': (type===2? '修改鲜花数':'修改推荐人编号')" (nzOnCancel)="cancel()"
    (nzOnOk)="make_sure()" nzOkText="确认" nzCancelText="关闭" [nzMaskClosable]="false" [nzOkLoading]="visibleLoading">
    <div nz-row *ngIf="type===1">
        <label>余额：</label>
        <nz-input-number [(ngModel)]="balance"></nz-input-number> 元
    </div>
    <div nz-row *ngIf="type===2">
        <label>鲜花数：</label>
        <nz-input-number [(ngModel)]="gold" [nzFormatter]="formatterPercent"></nz-input-number> 朵
    </div>
    <div nz-row *ngIf="type===3" style="display: flex">
        <label style="width: 142px;line-height: 32px">推荐人编号：</label>
        <input type="text" nz-input [(ngModel)]="parent_snum">
    </div>
</nz-modal>