<nz-card nzTitle="文章列表" [nzExtra]="extraTemplate">
    <div class="search">
        <div class="query">
            <b>查询条件</b>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="6">
                <label style="width: 64px">标题：</label>
                <input type="text" nz-input [(ngModel)]="title" />
            </div>
            <div nz-col [nzSpan]="8">
                <label style="width: 64px">分类：</label>
                <nz-select [(ngModel)]="c_id" nzAllowClear="true">
                    <nz-option *ngFor="let o of options" [nzLabel]="o.c_name" [nzValue]="o.c_id"></nz-option>
                </nz-select>
            </div>
            <button nz-button nzType="primary" class="ant-left-xxl" (click)="search_data(true)">
        <i nz-icon nzType="search" nzTheme="outline"></i>搜索
      </button>
            <button nz-button class="ant-left-large" (click)="clear_data()">
        <i nz-icon nzType="reload" nzTheme="outline"></i>清空
      </button>
        </div>
    </div>
    <nz-table #table nzShowSizeChanger [nzData]="data" [(nzPageSize)]="pagesize" [(nzPageIndex)]="page" [nzFrontPagination]="false" [nzTotal]="total" [nzShowTotal]="totalTemplate" [nzLoading]="loading" [nzPageSizeOptions]="pagesizeAry" (nzPageIndexChange)="search_data()"
        (nzPageSizeChange)="search_data(true)">
        <thead>
            <tr>
                <th>标题</th>
                <th>分类</th>
                <th nzWidth="300px">描述</th>
                <th>创建时间</th>
                <th>创建人</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of table.data">
                <td>{{ data.title }}</td>
                <td>{{ data.c_name }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.created_at }}</td>
                <td>{{ data.creator_id }}</td>
                <td>{{ data.invalid ? "已删除" : statusObj[data["status"]] }}</td>
                <td>
                    <button class="ant-right" *ngIf="data.invalid === 0&&data.status === 0" nz-button (click)="show_modal(true, data)"> 编辑</button>
                    <button class="ant-right" *ngIf="data.invalid === 0&&data.status===0" nz-button nzType="danger" nz-popconfirm nzTitle="你确定要删除这篇文章吗？" (nzOnConfirm)="delete_news(data.id)" (nzOnCancel)="cancel()" nzPlacement="top">删除</button>
                    <button *ngIf="data.invalid===0&&data.status === 0" nz-button nzType="primary" nz-popconfirm nzTitle="你确定要发布这篇文章吗?" (nzOnConfirm)="release_news(data.id)" (nzOnCancel)="cancel()" nzPlacement="top">
            发布
          </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<ng-template #totalTemplate> 总计 {{ total }} 条 </ng-template>

<ng-template #extraTemplate>
    <button nz-button (click)="show_modal()" nzType="primary">
    <span>添加文章</span>
  </button>
</ng-template>