.file-btn {
    position: relative;
    overflow: hidden;
}

.file-btn span {
    line-height: 29px;
}

.file-btn input {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    cursor: pointer;
}