<div class="ant-bottom" nz-row>
    <div nz-col [nzSpan]="12"><label>标题：</label><input type="text" nz-input [(ngModel)]="title"></div>
    <div nz-col [nzSpan]="12" style="visibility: hidden;"><label class="ant-left-xl">图片链接：</label><input type="text"
            nz-input [(ngModel)]="image_name"></div>
</div>
<div class="ant-bottom" nz-row>
    <div nz-col [nzSpan]="24">
        <label>图片外链：</label>
        <nz-input-group nzAddOnBefore="Https://">
            <input type="text" nz-input [(ngModel)]="link" />
        </nz-input-group>
    </div>
</div>
<div class="ant-bottom-xxl">
    <button nz-button nzType="primary" (click)="submit()">提交</button><button class="ant-left" nz-button
        (click)="cancel()">取消</button>
    <div class="file-btn ant-btn ant-btn-default ant-left">
        <span><i class="ant-right-tiny" nz-icon nzType="folder-open" nzTheme="outline"></i>打开本地图片</span>
        <input type="file" name="image" accept="image/*" (change)="get_change($event)" />
    </div>
</div>


<div class="image-setting ant-top-large ant-bottom-large" *ngIf="imgSrc">
    <div class="ant-bottom">
        <label>纵横比：</label>
        <nz-radio-group [(ngModel)]="aspectRatio" (ngModelChange)="change_aspectRatio($event)">
            <label nz-radio-button [nzValue]="16/9">16:9</label>
            <label nz-radio-button [nzValue]="4/3">4:3</label>
            <label nz-radio-button [nzValue]="1">1:1</label>
            <label nz-radio-button [nzValue]="NaN">free</label>
        </nz-radio-group>
        <label class="ant-left-xxl">旋转：</label>
        <nz-radio-group>
            <label nz-radio-button nzTitle="顺时针旋转45°" nzPlacement="top" nz-tooltip [nzValue]="45"
                (click)="change_rotate(45)"><i nz-icon nzType="redo" nzTheme="outline"></i></label>
            <label nz-radio-button nzTitle="逆时针旋转45°" nzPlacement="top" nz-tooltip [nzValue]="-45"
                (click)="change_rotate(-45)"><i nz-icon nzType="undo" nzTheme="outline"></i></label>
            <label nz-radio-button nzTitle="重置" nzPlacement="top" nz-tooltip [nzValue]="0" (click)="change_rotate(0)"><i
                    nz-icon nzType="sync" nzTheme="outline"></i></label>
        </nz-radio-group>
        <label class="ant-left-xxl">移动：</label>
        <nz-radio-group>
            <label nz-radio-button nzValue="A" (click)="change_move(0, 10)"><i nz-icon nzType="arrow-up"
                    nzTheme="outline"></i></label>
            <label nz-radio-button nzValue="B" (click)="change_move(0, -10)"><i nz-icon nzType="arrow-down"
                    nzTheme="outline"></i></label>
            <label nz-radio-button nzValue="C" (click)="change_move(10, 0)"><i nz-icon nzType="arrow-left"
                    nzTheme="outline"></i></label>
            <label nz-radio-button nzValue="D" (click)="change_move(-10, 0)"><i nz-icon nzType="arrow-right"
                    nzTheme="outline"></i></label>
        </nz-radio-group>
    </div>
    <div class="ant-bottom">
        <nz-input-group style="width: 250px" nzAddOnBefore="宽度" nzAddOnAfter="px">
            <input type="number" nz-input [(ngModel)]="width" />
        </nz-input-group>
        <nz-input-group class="ant-left-large" style="width: 250px" nzAddOnBefore="高度" nzAddOnAfter="px">
            <input type="number" nz-input [(ngModel)]="height" />
        </nz-input-group>
    </div>
    <div class="ant-bottom">
        <button class="ant-right" [nzLoading]="loading" nz-button (click)="upload_image()"><i nz-icon
                nzType="cloud-upload" nzTheme="outline"></i>上传所选区域图片</button>
    </div>
</div>

<div nz-row *ngIf="imgSrc">
    <div nz-col></div>
    <div nz-col>
        <img id="image" />
    </div>
</div>