.file-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.file-btn span {
    line-height: 29px;
}

.file-btn input {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    cursor: pointer;
}

div[nz-row] {
    div[nz-col] {
        display: flex;
        label {
            line-height: 32px;
            white-space: nowrap;
        }
        input {
            flex: 1;
        }
    }
}