html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

$sideL: left;
$sideR: right;
$sideT: top;
$sideB: bottom;
$tiny: 4px;
$small: 8px;
$default: 12px;
$large: 16px;
$xl: 20px;
$xxl: 24px;
@each $side in ($sideL, $sideR, $sideT, $sideB) {
    .ant-#{$side}-small {
        margin-#{$side}: $small;
    }
    .ant-#{$side},
    .ant-#{$side}-default {
        margin-#{$side}: $default;
    }
    .ant-#{$side}-large {
        margin-#{$side}: $large;
    }
    .ant-#{$side}-xl {
        margin-#{$side}: $xl;
    }
    .ant-#{$side}-xxl {
        margin-#{$side}: $xxl;
    }
    .ant-#{$side}-tiny {
        margin-#{$side}: $tiny;
    }
}

.search {
    border-radius: 5px;
    border: 1px solid #23C7C9;
    margin-bottom: 16px;
    .query {
        height: 30px;
        background-color: #23C7C9;
        line-height: 30px;
        padding-left: 12px;
        color: #fff;
        margin-bottom: 16px;
    }
    nz-row,
    div[nz-row] {
        nz-col,
        div[nz-col] {
            display: flex;
            padding-bottom: 16px;
            label {
                width: 86px;
                line-height: 32px;
                margin-right: 10px;
                margin-left: 18px;
                margin-bottom: 0;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            nz-select,
            input {
                flex: 1;
            }
        }
        nz-col:nth-child(4n),
        div[nz-col]:nth-child(4n),
        .last-col {
            padding-right: 24px;
        }
    }
}

.cdk-global-scrollblock {
    overflow: hidden;
}

tbody tr td {
    word-break: break-all!important;
}

#rule .w-e-text-container {
    height: 500px!important;
}

#tree-container{
    .node {
        cursor: pointer;
    }

    .overlay {
        background-color: #EEE;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node text {
        font-size: 12px;
        font-family: sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    .templink {
        fill: none;
        stroke: red;
        stroke-width: 3px;
    }

    .ghostCircle.show {
        display: block;
    }

    .ghostCircle,
    .activeDrag .ghostCircle {
        display: none;
    }
}

